@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none !important;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

:root {
  /* font-size */
  --fs-xxs: 15px;
  --fs-xs: 16px;
  --fs-sm: 14px;
  --fs-md: 22px;
  --fs-lg: 13px;
  --fs-xl: 20px;
  --fs-xxl: 35px;
  --fs-2xl: 40px;

  /* ===color=== */
  --color-gray: #323648;
  --bg-darkgray: #32364899;
  --light-gray: #70727f;
  --light-black: #323648cc;
  --off-gray: #d9d9d9;
  --green: #008000;

  /* ===font-family===  */
  --ff-inter: "Inter", Sans-serif;
}

.font-Inter {
  font-family: var(--ff-inter);
}

/* ===font-size=== */
.fs-xxs {
  font-size: var(--fs-xs);
}

.fs-xs {
  font-size: var(--fs-s);
}

.fs-sm {
  font-size: var(--fs-sm);
}

.fs-md {
  font-size: var(--fs-md);
}

.fs-lg {
  font-size: var(--fs-lg);
}

.fs-xl {
  font-size: var(--fs-xl);
}

.fs-xxl {
  font-size: var(--fs-xxl);
}
.fs-2xl {
  font-size: var(--fs-2xl);
}

/* ===color=== */
.color-gray {
  color: var(--color-gray);
}
.color-green {
  color: var(--green);
}
.bg-gray {
  background-color: var(--color-gray);
}
.bg-darkgray {
  background: var(--bg-darkgray);
}

.bg-light-black {
  background: var(--light-black);
}
.off-gray {
  background: var(--off-gray);
}

.custom-container {
  max-width: 1140px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: auto;
  margin-left: auto;
}
.header-bg {
  background-image: url(../images/headerbg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-about-bg {
  background-image: url(../images/aboutbg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.min-vh-70 {
  min-height: 70vh;
}
.value-box {
  border-radius: 30px;
  background-color: var(--light-gray);
}
.product-card {
  border-radius: 12px;
  height: 100%;
  transition: 300ms linear;
}
.product-card:hover {
  transform: translateY(-15px);
  box-shadow: 0px 8px 13px 0px #000;
}
.customer-card {
  width: 215px !important;
  height: 170px;
  border: 1px solid #000000;
  border-radius: 8px;
  transition: 300ms linear;
}
.customer-card:hover {
  box-shadow: 0px 8px 13px 0px #000000;
}
.box-width {
  width: 160px;
}

.max-w-232 {
  max-width: 232px;
}

.text-shadow {
  text-shadow: 0px 8px 13px #000000;
}

.small-circle {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: #000;
}
.common-btn {
  background-color: var(--light-black);
  border-radius: 8px;
  transition: 300ms linear;
}
.common-btn:hover {
  background: var(--bg-darkgray);
}
.slider-circle {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  transition: 300ms linear;
}
.slider-circle:hover {
  background-color: var(--bg-darkgray);
}
.coursor-pointer {
  cursor: pointer;
}

.slick-slide {
  margin: 0 10px;
}
.footer-py {
  padding-top: 130px;
  padding-bottom: 130px;
}
.icons {
  transition: 300ms linear;
}
.icons:hover {
  transform: translateY(-10px) scale(1.2);
}
.py-16 {
  padding-top: 14px;
  padding-bottom: 14px;
}
.image-size {
  height: 350px;
  border-radius: 20px;
}
.resize-none {
  resize: none;
}
.form-control {
  border: 2px solid black !important;
  border-radius: 12px !important;
}
@media (max-width: 992px) {
  .mobile_view {
    position: fixed;
    top: 203px;
    right: -100%;
    width: 72%;
    min-height: 79vh;
    background-color: var(--light-black);
    transition: 500ms linear;
    flex-direction: column;
    justify-content: center;
    z-index: 4;
  }

  .overflow_hidden {
    overflow: hidden !important;
  }

  .line1,
  .line2,
  .line3 {
    width: 30px;
    min-height: 3px;
    background-color: white;
    transition: 300ms linear;
  }

  .cross .line1 {
    transform: rotate(49deg) translate(16px, 14px);
  }

  .cross .line2 {
    transform: translateX(-50%);
    opacity: 0;
  }

  .cross .line3 {
    transform: rotate(-49deg) translateY(-50%);
  }

  .z-index-4 {
    z-index: 4 !important;
  }

  .text-c-center {
    text-align: center;
  }

  .w_100 {
    width: 100%;
  }
  .nav-center {
    justify-content: center;
  }
}
@media (min-width: 576px) {
  :root {
    /* font-size */
    --fs-xxs: 17.6px;
    --fs-xs: 18px;
    --fs-sm: 20px;
    --fs-md: 24px;
    --fs-lg: 25px;
    --fs-xl: 35px;
    --fs-xxl: 45px;
    --fs-2xl: 68px;
  }
  /* ===line-hight=== */
  .lh-22 {
    line-height: 22px;
  }
  .lh-24 {
    line-height: 24px;
  }

  .lh-26 {
    line-height: 26px;
  }
  .lh-29 {
    line-height: 29px;
  }

  .lh-30 {
    line-height: 30px;
  }

  .lh-36 {
    line-height: 36px;
  }
  .lh-43 {
    line-height: 43px;
  }
  .lh-55 {
    line-height: 55px;
  }
  .lh-82 {
    line-height: 82px;
  }
  .box-width {
    width: 232px;
  }
}
@media (min-width: 992px) {
  .image-size {
    max-width: 524px;
    height: 480px;
    border-radius: 20px;
  }
  .circle-position {
    position: absolute;
    bottom: 16%;
    left: 6%;
  }
  .max-w-526 {
    max-width: 526px;
  }
  .max-w-1240 {
    max-width: 1240px;
  }
  .max-w-446 {
    max-width: 446px;
  }
  .h-400 {
    height: 400px;
  }
  .w-77 {
    width: 80%;
  }
  
  .w-500 {
    width: 554px;
  }
  .w-558 {
    width: 558px;
  }
  .max-w-532 {
    max-width: 532px;
  }
  .max-w-592 {
    max-width: 592px;
  }
  .max-w-470 {
    max-width: 470px;
  }
  .h-210{
    height: 210px;
  }
}
